
.contenedorTurno{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;

}

.contenedorTurno img{
width: 300px;
    margin-bottom: 100px;

}

.contenedorTurno h1{
    font-size: 10vh;

}

.contenedorTurno h3{
    text-decoration: underline;
}

.contenedorTurno a{
    text-decoration: none;
    color: #34B54B;
    font-size: 2rem;
    background-color: rgb(61, 61, 61);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}